<!DOCTYPE html>
<html>

<head>
    <title>Email details</title>
</head>

<body>
    <h1>Email of {{.Email.Sender}}</h1>
    <ul>
        <li>
            <strong>From:</strong> {{.Email.Sender}}<br>
            <strong>To:</strong> {{.Email.Receiver}}<br>
            <strong>Received:</strong> {{.Email.ReceivedAt}}<br>
            <pre>{{.Email.Body}}</pre>

            <form action="/delete?id={{.Email.ID}}" method="POST" style="margin-top: 5px;">
                <button type="submit" onclick="return confirm('Delete email ID {{.Email.ID}}?')">Delete</button>
            </form>
        </li>
        <hr>
    </ul>
</body>

</html>