<!DOCTYPE html>
<html>

<head>
    <title>Email details</title>
</head>

<body>
    <h1>Email of {{.Sender}}</h1>
    <ul>
        <li>
            <strong>From:</strong> {{.Sender}}<br>
            <strong>To:</strong> {{.Receiver}}<br>
            <strong>Received:</strong> {{.ReceivedAt}}<br>
            <pre>{{.Body}}</pre>

            <form action="/delete?id={{.ID}}" method="POST" style="margin-top: 5px;">
                <button type="submit" onclick="return confirm('Delete email ID {{.ID}}?')">Delete</button>
            </form>
        </li>
        <hr>
    </ul>
</body>

</html>